# OS
.DS_Store

# IDE / Editor
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.user
*.userosscache
*.sln.docstates
.cursor

# Backend (.NET)
backend-api/bin/
backend-api/obj/
*.userprefs

# Frontend (Node)
frontend-app/node_modules/
frontend-app/dist/
frontend-app/dist-ssr/

# Logs & debug
*.log
npm-debug.log*